body{
	background: rgb(20, 20, 20);
	color: rgb(200, 230, 200);
	margin: 0px; 
	overflow-x: hidden;
}
#bodytype {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	position: sticky;
	top: 0;
	color: rgb(140, 200, 40);
	font-family: Arial;
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 8vh;
	min-height: 60px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
	background: rgb(40, 40, 40);

	& div {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		font-size: 2em;

	}
}

#form {
	justify-items: center;
	align-items: center;
	width: 8vh;
	min-width: 60px;
	height: 100%;


	& div {
		border-radius: 50%;
		background: rgb(140, 200, 40);
		height: 60%;
		width: 60%;
        
	}
}

article {
    display: flex;
    flex-direction: row;

    width: 90vw;
	min-height: 50vh;
    margin-top: 5vh;
	background: rgb(40, 40, 40);
	align-items: center;
	justify-content: space-around;
}

button {
	display: flex;
    flex-direction: row;
	background-color: rgb(20, 20, 20);
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: rgb(140, 200, 40);
	border-radius: 1vh;
	color: rgb(200, 230, 200);
    width: 22%;
    height: 12vh;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
	transition-duration: 0.4s;
}

button:hover  {
	background-color: rgb(30, 60, 30);
	cursor: pointer;
}

button:active  {
	background-color: rgb(120, 120, 60);
}

.dash-table-container {
	width: 70vw;
}

#tigh_sensei {
	margin-left: auto;
	position: sticky;
	bottom: 6vh;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	width: 28vw;
	height: 40vh;
}

#tigh_sensei_img {
	height: 250px;
}

#update {
	padding-bottom: 15px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: rgb(40, 40, 40);
	color: rgb(200, 230, 200);
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-style: solid;
	border-width: 0px 3px 0px 3px;
	border-color: rgb(140, 200, 40);
	font-size: 1.05em;
	text-align: justify;
	font-family: Arial;
	overflow-y: scroll;
}

.Bot_message {
	margin: 6px;
	padding: 8px;
	width: 80%;
	background-color: rgba(00, 00, 00, 0.3);
	border-radius: 15px;
	align-self: self-end;
}

#footer{
	position: sticky;
	bottom: 0;
	width: 100%;
	height: 6vh;
	font-size: 1.5em;
	background: rgb(40, 40, 40);
	text-align: center;
	border-style: solid;
	border-color: rgb(140, 200, 40);
	border-bottom: 0px;
} & a {
	color: rgb(140, 200, 40);
}